<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="wiseMotto" class="pl.sdacademy.model.WorkerMotto">
        <constructor-arg value="Ciężką pracą ludzie się bogacą"/>
        <!--<property name="citate" value="Bogactwo się bierze z pracy"/>-->
    </bean>

    <bean id="hummer" class="pl.sdacademy.model.Tool" scope="prototype">
        <constructor-arg name="weight" value="5"/>
        <constructor-arg name="name" value="Młoteczek"/>
    </bean>

    <bean id="worker" class="pl.sdacademy.model.Worker" init-method="addDefaultTool">
        <!--<context:component-scan base-package="pl.sdacademy"/>-->
        <property name="age" value="40"/>
        <property name="profession" value="builder"/>
        <property name="motto" ref="wiseMotto"/>
        <property name="tools">
            <list>
                <bean class="pl.sdacademy.model.Tool" id="screwdriver">
                    <property name="name" value="śrubokręt"/>
                    <property name="weight" value="1"/>
                </bean>
                <ref bean="hummer"/>
            </list>
        </property>
    </bean>

    <bean class="pl.sdacademy.model.MyBeanPostProcessor"/>
</beans>
