<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="helloSpring" class="pl.sdacademy.HelloSpring">
        <property name="welcomeMessage" value="Hello Spring!!!"/>
    </bean>
    <bean id="helloSingletonGreeter" class="pl.sdacademy.HelloSpring" scope="singleton">
        <property name="welcomeMessage" value="Hello from singleton!!!"/>
    </bean>
    <bean id="helloPrototypeGreeter" class="pl.sdacademy.HelloSpring" scope="prototype">
        <property name="welcomeMessage" value="Hello from prototype!!!"/>
    </bean>
</beans>
